// 超出1万和1亿的过滤器
var over10000 = function (num) {
  if (num < 10000) {
    return num;
  } else if (num >= 100000000) {
    return parseInt(num / 100000000) + "亿";
  } else {
    return parseInt(num / 10000) + "万";
  }
}

// 播放时间的格式化
var formatmusicTime = function (value) {
  var theTime = parseInt(value);// 秒
  var theTime1 = 0;// 分
  if (theTime > 59) {
    theTime1 = parseInt(theTime / 60);
    theTime = parseInt(theTime % 60);
    if (theTime1 > 60) {
      theTime1 = parseInt(theTime1 % 60);
    }
  }
  var miao = "" + parseInt(theTime);
  if (miao < 10) {
    miao = "0" + miao;
  }
  var fen = "" + parseInt(theTime1);
  if (theTime1 < 10) {
    fen = "0" + fen;
  }
  return fen + ":" + miao;
}

var DateFr = function (time) {
  var date = getDate(time);
  var M = date.getMonth() + 1;
  var y = date.getFullYear();
  var d = date.getDate();
  if (M < 10) M = "0" + M;
  if (d < 10) d = "0" + d;
  return y + "年" + M + "月" + d + "日";
}
module.exports = {
  over10000: over10000,
  formatmusicTime: formatmusicTime,
  DateFr: DateFr
}
